[user]
	name = Di
	email = dihuynh2302@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	editor = nvim
	pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    syntax-theme = base16
    minus-style = syntax "#3a2a2a"
    minus-emph-style = syntax "#6b2a2a"
    plus-style = syntax "#2a3a2a"
    plus-emph-style = syntax "#2a5a2a"
    line-numbers = true
    line-numbers-minus-style = "#ff005f"
    line-numbers-plus-style = "#9EB294"
    line-numbers-zero-style = "#878787"
    hunk-header-style = file line-number syntax
    hunk-header-decoration-style = "#dfafff" ul

[merge]
    conflictStyle = zdiff3
